
body {
    /*background-color: #E5E7E9 !important;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: white !important;
}


.fondo-User{
    background-image: url(/principal/imagenes/fondo-negro.png) !important;
    
}
/*************************************************************************
                    _UsserLayout.cshtml
*************************************************************************/
#navigation {
    /*para cambiar de color el nav*/
    /*background: #138AF7 !important; buen color celeste*/
    background: #5858FA !important;
    border: none !important;
    color: white !important;
}

#navigation a {
    color: white !important;
}

#navigation a:hover {
    background: rgba(51,51,51,1);
    /*background-color: #5E3EFE; tono violeta*/
}

.navbar-header #brand {
    background: rgba(51,51,51,1) !important;
    color: #8181F7 !important;
    font-weight: 600;
}

#nav-fixedTop {
    background: #5858FA !important;
    border: none !important;
    height: 50px !important;
    /*border: none !important;*/
}

.navbar-toggle:hover {
    background: rgba(51,51,51,1) !important;
}

#dropdown-menu {
    background:#5858FA !important;
}

#glyphicon-user {
    margin-right: 10px !important;
}

#glyphicon-home {
    margin-right: 10px !important;
}

#glyphicon-education {
    margin-right: 10px !important;
}

#glyphicon-envelope {
    margin-right: 10px !important;
}

#glyphicon-shopping-cart {
    margin-right: 10px !important; 
    font-size: 20px !important;
}

#glyphicon-wrench {
    margin-right: 10px !important;
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*************************************************************************
                  userLogin.cshtml (lado user)
*************************************************************************/

#cont-master {
    background: #f5af19 !important;
}

.cont-slider {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#navbar-index {
    background-color: #5858FA !important;
}

#navbar-header a {
    color: white !important;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

#btn-nav li a {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#caja {    
    background-color: #F2F2F2;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    width: 300px;
}

#caja h3 {
    color: #5858FA;
    text-align: center;
}

#cont-img {
    margin-top: 45px;
    text-align: center;
}

#img-logo {
    height: 120px;
    width: 120px;
}

#form-login {
    margin-left: 5px;
    margin-right: 5px;
}

#cont-inputs {
    margin-top: 15px;
}
    /*
/*dando estilo a los placeholder de los input usuario y contraseña
:: placeholder { Chrome, Firefox, Opera, Safari 10.1+ 
    color: white;
    opacity: 1;  Firefox 
}*/

#cont-inputs input {
    background-color: #D8D8D8 !important;
    border: none !important;
    font-weight: 500 !important;
    height: 45px !important;
    padding-left: 10px !important;
    width: 100% !important;
}

#user {
    margin-bottom: 8px;
}

#wash {
    color: #5858FA;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

#cont-btns {
    margin-top: 20px;
    margin-bottom: 45px;
    width: 100%;
}

#cont-btns button {
    border: none;
    color: white;
    width: 100%;
    height: 45px;
}

#btn-entrar {
    background-color: #5858FA;
    margin-bottom: 8px;
}

#btn-entrar:hover {
    background-color: #8181F7;
}

#btn-registrar {
    background-color: blue;
}

#btn-registrar a {
    text-decoration: none;
    color: white;
}

#btn-registrar:hover {
    background-color: #2E64FE;
}


/********************************* FIN index.cshtml ***************************************/

/******************************************************************************************
                            CrearUsuario.cshtml (lado user)
******************************************************************************************/

#cont-formulario {
    background: #F2F2F2;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap; /* flex-wrap: wrap, sirve para que los div se pongan uno abajo del otro cuando la pantalla del navegador se ajusta a tamaños movil */
    /*justify-content: center;/*centra horizontalmente a los div hijos*/
    margin: 0 auto;
    width: 640px;
}

#cont-formulario div {
    margin: 10px;
    width: 300px;
}

#cont-formulario div input {
     width: 100%;
     height: 45px;
}

#button-group {
    display: flex;
    margin: 15px auto !important;
    /*width: 600px;*/
}


#button-group button {
    border: none;
    color: white;
    width: 200px;
    height: 45px;
    margin: 8px;
}

#btn-guardar {
    background-color: #5858FA;
}

#btn-guardar:hover {
    background-color: #8181F7;
}

#btn-reset {
    background-color: orangered;
}

#btn-reset:hover {
    background: rgba(255, 68, 0, 0.795);
}


/************************** FIN CrearUsuario.cshtml *********************************/


/******************************************************************************************
                            index.cshtml (lado user)
******************************************************************************************/


#row1 {
    margin-top: 25px !important;
}

#row1 div {
        margin-bottom: 15px !important;
}

#row3 {
    margin-top: 50px !important;
}

#filtro-panel-body {
    background: #F4F4F4 !important;
}

#cont-libros{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content:flex-start !important;
    
}

/*esta clase tambien esta center userFilterLightBook.cshtml y Paginar.cshtml*/
.container-image {
    box-sizing: border-box !important;     
    padding: 8px !important;
    max-width: 173px !important;
}

.container-image img{
    width: 100% !important;    
    max-height: 292px;
}

/*************pagination************/
.pagination-btns {
    background-color: blue;
}
/********fin pagination************/

/*************************************************************************
                  MostrarLibro.cshtml(lado Usser)
*************************************************************************/



#div-row{
    margin-top: 15px !important;
}

#cont-libros {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
}

.contImgBook {
    padding-top: 20px !important;
    text-align: center !important;
}

.contImgBook img {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

#btn-volver {
    width: 92% !important;
    height: 40px !important;
    max-width: 320px !important;
    margin-top: 10px !important;    
}

.contInfo {
    font-weight: 500 !important;
}


@media screen and (max-width: 700px) {
    
    .contCentrar {
        width: 90%;
        transform: translate(5%);
    }

    .contCentrar img {
        width: 48%;
    }
}


/*************************************************************************
                  userListarLibros.cshtml
*************************************************************************/
#tableBooks {
    color: black;
    width: 100%;
}

#tableBooks thead{
    background: #F2F2F2;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

#tableBooks tbody tr {
    background: none;
}

#filter-row {
    margin-top: 15px;
}

#filter-panel-body {
    background: rgba(51,51,51,1) !important;   
}

#filter-panel-body label {
    color: #8181F7 !important;
   
}

#cont-prices{
    display: flex !important;
    flex-wrap: wrap !important;
}

#price1, #price2 {
    max-width: 80px !important;
    margin-left: 10px;
    margin-right: 10px;

}

#table-sscroll {     
    max-height: 241px !important;
    overflow: auto;
}

#btn_buscar {
    background: #5858FA !important;
    border: none !important;
    color: white !important;
    height: 45px;
    width: 100px;
}

#glyphicon-search{
    margin-right: 4px !important;
}

#btnComprar {
    text-align: center !important;
    height: 45px;
    width: 120px;
}



#IdDeAlgunDivDondeColocarasEsaVista {
    border: 1px solid #dddddd !important; /*#c3c3c3*/
    height: 620px !important;
}

/***Tablas originadas desde javascript***/

#tablaSeleccionados thead {
    background: rgba(51,51,51,1);
    color: white;
    text-align: center !important; /*no lo respeta*/
    vertical-align: middle !important;
} 

#emptyTable thead {
    background: rgba(51,51,51,1);
    color: white;
    text-align: center !important; /*no lo respeta*/
    vertical-align: middle !important;
}

/***********************    FIN userListarLibros.cshtml **********************************/

/******************************************************************************************
                  userFilterLightBooks.cshtml
******************************************************************************************/

#divFilterLightBooks {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
}

/*#cont-pagination-btns{
    display: table !important;
}*/
/******************************************************************************************
                  userFiltrarLibros.cshtml ?? borrar ??
******************************************************************************************/
#model-result {
    width: 100% !important;
}

#btnAgregar{
    height: 38px !important;
}

#btnMostrar_lb {
    height: 38px !important;

}
/***********************    FIN userFiltrarLibros.cshtml **********************************/



/******************************************************************************************
                            Comprar.cshtml (lado user)
******************************************************************************************/

#cont-icon-carrito a {
    color: blue;
    font-weight: 500;
    text-decoration: none;
    vertical-align: super;
}

#cont-icon-carrito a:hover {
    color: #5858FA;
  
}

#icon-shopping-cart {
    color: black !important;
    font-size: 30px !important;
    margin-right: 10px !important;
}

#contenido {
    padding: 0px !important;
}

#imagen{
    margin-bottom: 15px;
}

#imagen img{
    width: 250px;
    height: 250px;    
}

#table-scroll-comprar{
    max-height: 400px !important;
}

#tableComprar thead {
    background: #5858FA !important;
    color: white !important;
    text-align: center !important;
    
}

#tableComprar tbody tr th input {
    width: 80px !important;
}

#glyphicon-ok, #glyphicon-remove{
    margin-right: 4px !important;
}

#finalizarBuy{
    display: flex;
    justify-content: space-between;
}

#finalizarBuy label{
    font-size: 18px;
}

#finalizarBuy input{
     width: 80px;
}

/*********************** FIN Comprar.cshtml ***************************************/

/**********************************************************************************
                    MisCompras.cshtml
***********************************************************************************/
#panel-body-select {
    border: 1px solid #dddddd !important;
    margin-bottom: 15px !important;
    padding: 0 !important;  
}

.selectores{
    margin-top: 15px !important;
}

#div-respuesta-ajax {
    margin-top: 15px !important;
}

#btn_allPurchases{
    height: 45px !important;
}

#btn_allPurchases span{
     vertical-align: middle !important;
}