
body {
    /*background-color: #E5E7E9 !important;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    /*color: white !important;*/
    color: black !important;
}

.fondo-User {
    /*background-image: url(/principal/imagenes/fondo-negro.png) !important;*/
    background-color: white !important;
}

.vcenter {
    /*display: inline-block;*/
    margin-top: 50px;
}

/*************************************************************************
                    _UsserLayout.cshtml
*************************************************************************/

#btn-shopping-cart {
    float: left !important;
}

#glyphicon-shopping-cart {
    float: left !important;
}

#cont-social-networks {
    margin-top: 35px;
}

#cont-social-networks img {
    width: 45px;
    height: 45px;
}

#cont-img-logo-loyout {
    margin-top: 35px;
}

#img-logo-loyout {
    height: 160px;
    width: 160px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#navigation {
    /*para cambiar de color el nav*/
    /*background: #138AF7 !important; buen color celeste*/
    /*background: #5858FA !important;*/
    background: rgba(51,51,51,1) !important;
    color: white !important;
}


#navigation a {
    color: white !important;
}

#navigation a:hover {           
    color: black !important;
}

#myNavbar ul li a:hover {
    background: orange !important;
    animation: fadeIn 4s !important;
}

.navbar-header #brand {
    background: rgba(51,51,51,1) !important;
    /*color: #8181F7 !important;*/
    color: orange !important;
    font-weight: 600;
}

#nav-fixedTop {
    /*background: #5858FA !important;*/
    background: rgba(51,51,51,1) !important;
    border: none !important;
    height: 50px !important;
}

.navbar-toggle:hover {
    /*background: rgba(51,51,51,1) !important;*/
    background: orange !important;
}

#dropdown-menu {
    /*background:#5858FA !important;*/
    background: rgba(51,51,51,1) !important;
}

#glyphicon-user {
    margin-right: 10px !important;
}

#glyphicon-home {
    margin-right: 10px !important;
}

#glyphicon-log-in {
    margin-right: 10px !important;
}

#glyphicon-ok {
    margin-right: 10px !important;
}

#glyphicon-envelope {
    margin-right: 10px !important;
}

#glyphicon-shopping-cart {
    margin-right: 10px !important;
    font-size: 20px !important;
}

#glyphicon-wrench {
    margin-right: 10px !important;
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*************************************************************************
                  userLogin.cshtml (lado user)
*************************************************************************/

#cont-master {
    background: #f5af19 !important;
}

.cont-slider {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#navbar-index {
    background-color: #5858FA !important;
}

#navbar-header a {
    color: white !important;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

#btn-nav li a {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#caja {
    background-color: #F2F2F2;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    width: 300px;
    height: 450px;
}

#caja h3 {
    color: #5858FA;
    text-align: center;
}

#form-login {
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

#cont-inputs {
    margin-top: 15px;
}
    /*
/*dando estilo a los placeholder de los input usuario y contraseña
:: placeholder { Chrome, Firefox, Opera, Safari 10.1+ 
    color: white;
    opacity: 1;  Firefox 
}*/

#cont-inputs input {
    background-color: #D8D8D8 !important;
    border: none !important;
    font-weight: 500 !important;
    height: 45px !important;
    padding-left: 10px !important;
    width: 100% !important;
}

#user {
    margin-bottom: 8px;
}

#wash {
    color: #5858FA;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

#cont-btns {
    margin-top: 20px;
    margin-bottom: 45px;
    width: 100%;
}

#cont-btns button {
    border: none;
    color: white;
    width: 100%;
    height: 45px;
}

#btn-entrar {
    background-color: #5858FA;
    margin-bottom: 8px;
}

#btn-entrar:hover {
    background-color: #8181F7;
}

#btn-registrar {
    background-color: blue;
}

#btn-registrar a {
    text-decoration: none;
    color: white;
}

#btn-registrar:hover {
    background-color: #2E64FE;
}


/********************************* FIN userLogin.cshtml ***************************************/

/******************************************************************************************
                            CrearUsuario.cshtml (lado user)
******************************************************************************************/

#cont-formulario {
    background: #F2F2F2;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap; /* flex-wrap: wrap, sirve para que los div se pongan uno abajo del otro cuando la pantalla del navegador se ajusta a tamaños movil */
    /*justify-content: center;/*centra horizontalmente a los div hijos*/
    margin: 0 auto;
    width: 640px;
}

#cont-formulario div {
    margin: 10px;
    width: 300px;
}

#cont-formulario div input {
    width: 100%;
    height: 45px;
}

#button-group {
    display: flex;
    margin: 15px auto !important;    
}

#button-group button {
    border: none;
    color: white;
    width: 200px;
    height: 45px;
    margin: 8px;
}

#btn-guardar {
    background-color: #5858FA;
}

#btn-guardar:hover {
    background-color: #8181F7;
}

#btn-reset {
    background-color: orangered;
}

#btn-reset:hover {
    background: rgba(255, 68, 0, 0.795);
}


/************************** FIN CrearUsuario.cshtml *********************************/


/******************************************************************************************
                            index.cshtml (lado user)
******************************************************************************************/


#row1 {
    margin-top: 25px !important;
}

#row1 div {
    margin-bottom: 15px !important;
}


#filtro-panel-body {
    background: #F4F4F4 !important;
}

#btn_buscar {
    background: #5858FA !important;
    border: none !important;
    color: white !important;
    height: 45px;
    width: 100px;
}

#btn_buscar:hover {
    background: #5218fa !important;
}

#glyphicon-search {
    margin-right: 4px !important;
}

#btn_reset {
    height: 45px !important;
    width: 100px !important;
}

/*#model-result es el div que marca la cantidad de resultados encontrados en el filtro*/
#model-result {
    width: 100% !important;
}

#cont-libros {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;   
}

/*esta clase tambien esta center userFilterLightBook.cshtml y Paginar.cshtml*/
.container-image {
    box-sizing: border-box !important;
    padding: 8px !important;   
    width: 153px !important;
    /*margin: 0 auto !important;*/
}

.container-image img {
    width: 100% !important;
    max-height: 292px;
}

.container-image a {
    color: black;
    font-weight: 400;
}

/*************pagination************/
.pagination-btns {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    margin-right: 2px;
}

#pagination-buttons {
    margin-top: 25px;
}
/********fin pagination************/

@media screen and (max-width: 360px) {

    .container-image {
        margin: 0 auto !important;
    }
}


/************************** FIN index.cshtml (lado user) *********************************/


/*************************************************************************
                  MostrarLibro.cshtml(lado Usser)
*************************************************************************/
#div-row {
    margin-top: 15px !important;
}

#cont-libros {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
}

.contImgBook {
    padding-top: 20px !important;
    text-align: center !important;
}

.contImgBook img {
     box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
     max-width: 252px;
     max-height: 408px;
}

#btn-volver {
    width: 92% !important;
    height: 40px !important;
    max-width: 252px !important;
    margin-top: 10px !important;
}

.contInfo {
    font-weight: 500 !important;
}


@media screen and (max-width: 700px) {

    .contCentrar {
        width: 90%;
        transform: translate(5%);
    }

    .contCentrar img {
        width: 48%;
    }
}


/******************************************************************************************
                  userFilterLightBooks.cshtml
******************************************************************************************/

#divFilterLightBooks {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
}


/******************************************************************************************
                            CarritoDeCompra.cshtml (lado user)
******************************************************************************************/

.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.quantity {
    color: black !important;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    /*float: left; asi estaba antes*/
    float: right;
    width: 12%;
    text-align: right;
}

/* Estio es usado como la tradicional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply signo de dolar */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
     content: '$';
}


/* Body/Header stuff */
body {
    padding: 0px 30px 30px 20px;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: 100;
}

h1 {
    font-weight: 100;
}

label {
    color: #aaa;
}

.shopping-cart {
    /*margin-top: -45px;*/
    margin-top: 35px;
}

/* Column headers */
.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
}

/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product .product-image {
    text-align: center;
}

.product .product-image img {
    width: 100px;
}

.product .product-details .product-title {
    margin-right: 20px;
}

.product .product-details {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.product .product-quantity input {
    width: 40px;
}

.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
}

.product .remove-product:hover {
    background-color: #a44;
}

    
/* Totals section */
.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
}

.cancel {
    float: right;
    border: 0;
    margin-top: 20px;
    margin-left: 8px;
    padding: 6px 25px;
    background-color: #FF0000;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.cancel:hover {
    background-color: #8B0000;
    color: #fff;
    text-decoration: none;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {

    #title-carrito-de-compra{
        margin-top: 20px;
    }

    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #eee;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
    }

    .product-image img {
        margin: 0 0 10px 10px;
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
    }

    .product-quantity input {
        margin-left: 20px;
    }   

    .product-quantity:before {
        content: 'x';
    }

    .product-removal {
        width: auto;
    }

    .product-line-price {
        float: right;
        width: 70px;
    }

}
/* Mas ajustes con medias query for phone */
@media screen and (max-width: 350px) {
    
    .product-removal {
        float: right;
    }

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: 'Item Total: $';
    }

    .totals .totals-item label {
        width: 60%;
    }

    .totals .totals-item .totals-value {
        width: 40%;
    }
}


/**********************************************************************************
                    MisCompras.cshtml
***********************************************************************************/
#panel-body-select {
    border: 1px solid #dddddd !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
}

.selectores {
    margin-top: 15px !important;
}

#div-respuesta-ajax {
    margin-top: 15px !important;
}

#btn_allPurchases {
    height: 45px !important;
}

#btn_allPurchases span {
    vertical-align: middle !important;
}
