
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrarCompra</title>
</head>
<body>

    @if(ViewBag.Msg != null)
    {
        <h3 style="color: red">@ViewBag.Msg</h3>
    }

    <div> 
    </div>
</body>
</html>
