@model List<Librery_MVC.Models.Libro>
@using Librery_MVC.Models;
@using Librery_MVC.Services;

@{
    Layout = null;
    Autor autor = new Autor();
    Categoria category = new Categoria();
    Editorial editorial = new Editorial();
    AutorService sa = new AutorService();
    CategoriaService cs = new CategoriaService();
    EditorialService es = new EditorialService();
    TempData.Keep("adminEmail");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>admin FiltrarLibro</title>
</head>
<body>
    @if (ViewBag.Msg != null)
    {
        <h5 class="text-center" style="color: red">@ViewBag.Msg</h5>
    }
    else
    {
        @Html.Partial("_ListBooksAdminPartial", (Model))
    }


</body>
</html>

