
@{
    ViewBag.Title = "adminPrincipal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData.Keep("adminEmail");
}

<div style="background-image: url('/principal/imagenes/libroos.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 50vh;" class="jumbotron">

    <h1 style="color:white" id="titulo">Libreria MVC</h1>
    <p style="color:white" class="lead">Modo administrador</p>
    @*<p><a id="boton" href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">

    <div style="margin-bottom: 20px" class="col-sm-4 col-md-4">

        <div class="text-center seccion well">

            <h2 class="text-center">Sección clientes</h2>
            <img src="~/principal/imagenes/clientesSeccion.jpg" class="img-circle" alt="cliente">
            <p style="margin-top: 10px">Información, contacto y seguimiento del cliente.</p>
            <a style="margin-bottom: 10px" class="btn btn-primary" href="/Home/ListarClientes">Ir a clientes &raquo;</a>

        </div>

    </div>

    <div style="margin-bottom: 20px" class="col-sm-4 col-md-4">

        <div class="text-center seccion well">

            <h2 class="text-center">Sección libros</h2>
            <img src="~/principal/imagenes/producto.png" class="img-circle" alt="producto">
            <p style="margin-top: 10px">Modo editar, libros mas vendidos...</p>
            <a style="margin-bottom: 10px" class="btn btn-primary" href="/Home/Libros">Ir a libros &raquo;</a>

        </div>

    </div>

    <div style="margin-bottom: 20px" class="col-sm-4 col-md-4">

        <div class="text-center seccion well">

            <h2 class="text-center">Sección ventas</h2>
            <img src="~/principal/imagenes/ventasSeccion.jpg" class="img-circle" alt="producto">
            <p style="margin-top: 10px">Ranking de ventas, listado de ventas.</p>
            <a style="margin-bottom: 10px" class="btn btn-primary" href="/Home/Ventas">Ir a ventas &raquo;</a>

        </div>
        
    </div>

</div>


