@model List<Librery_MVC.Models.Libro>
@using Librery_MVC.Models;
@using Librery_MVC.Services;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Autor autor = new Autor();
    //Categoria category = new Categoria();
    //Editorial editorial = new Editorial();
    //AutorService sa = new AutorService();
    //CategoriaService cs = new CategoriaService();
    //EditorialService es = new EditorialService();

    TempData.Keep("adminEmail");
}


<h2 id="titulo">Lista de libros</h2>

<br /><br />

<div class="adminFiltros">

    <div class="row">

        <div class="col-md-3">

            <p>Seleccione una opción:</p>

            <div>
                <input type="radio" name="option" id="bookName" value="bookName" checked /> Buscar por nombre de libro
                <br />
                <input type="radio" name="option" id="idBook" value="idBook" /> Buscar por ID
            </div>

        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="txtData" name="txtData" maxlength="80" placeholder="Todos" required />
        </div>

        <div class="form-group col-md-3">
            <button type="button" class="btn btn-default" onclick="Send();"><span class="glyphicon glyphicon-search" id="glyphicon-search" aria-hidden="true"></span>Buscar</button>
        </div>

    </div>


</div>



<div style="margin-top: 30px !important" class="table-responsive" id="respuestaAjax">
    @Html.Partial("_ListBooksAdminPartial", (Model))
</div>



