@model List<Librery_MVC.Models.Usser>
@using Librery_MVC.Models;
@using Librery_MVC.Services;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData.Keep("adminEmail");
}


<h3 style="margin-top: 15px">Sección clientes</h3>

<div class="DivFiltrarCliente well">

    <div class="row">

        @Html.Partial("_AjaxLoaderPartial")

        <div class="col-md-4">

            <p>Seleccione una opción:</p>

            <div>

                <input type="radio" onclick="enableInput(txtData);" name="option" id="userName" value="userName" checked /> Buscar cliente por nombre de usuario
                
                <br />
                                  
                <input type="radio" onclick="disabledInput(txtData);" name="option" id="allUsers" value="allUsers" /> Listar todos los clientes

            </div>

        </div>

        <div class="form-group col-md-4">
            <input type="text" class="form-control" id="txtData" name="txtData" maxlength="80" required placeholder="Nombre de usuario" />
        </div>

        <div class="form-group col-md-4 text-center">
            <button type="button" class="btn btn-primary btn-search" onclick="SendToActionListarCliente();"><span class="glyphicon glyphicon-search" id="glyphicon-search" aria-hidden="true"></span>Buscar</button>
        </div>

    </div>


</div>

<br /><br />

<div id="ajaxResponse">

    <div class="table-responsive" id="ajaxResponseFiltrado">
        @*Muestro respuesta de ajax en el filtrado*@
    </div>

</div>


<script type="text/javascript">

    function configureLoadingScreen(screen) {
        $(document)
            .ajaxStart(function () {
                screen.fadeIn();
            })
            .ajaxStop(function () {
                screen.fadeOut();
            });
    }

    function SendToActionListarCliente(){

        /***********Loader para la consulat de AJAX********************** */
        //.loading-screen la clase del div que esta en la vista partial _AjaxLoaderPartial (carpeta shred)
        var screen = $('.loading-screen');
        configureLoadingScreen(screen);
        /***************************************************** */

        let option = $("input:radio[name='option']:checked").val();
        let search = $('#txtData').val();      
             
        if (option == "userName") {

            if (search == null || search == "") {

                alert("Escriba el nombre de usuario");
                return false;
            }

        }

        var uri = '@Url.Action("FiltrarCliente", "Home")';

        $.ajax({
            url: uri,
            data: { option: option, search: search},           
            type: 'POST',
            success: function (respuestaDelServidor) {
                $("#ajaxResponseFiltrado").html(respuestaDelServidor);
            }
        });

    }



</script>


