@model List<Librery_MVC.Models.RankingSales>
@using Librery_MVC.Models

@{
    Layout = null;
    int cont = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RankingVentas</title>
</head>
<body>

    
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">Ranking Nro</th>        
                <th scope="col">Usuario</th>                
                <th scope="col">Monto</th>
            </tr>
        </thead>

        <tbody>

            @foreach (RankingSales item in Model)
            {
                <tr>
                    <td>@cont</td>                   
                    <td>@item.UserName</td>                   
                    <td>$@item.Monto</td>
                </tr>

                cont++;
            }

        </tbody>
    </table>

</body>
</html>
